
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/05/2019, 01:49:37 PM
    Author     : PARRA
*/


.fondo{
    -fx-background-color: #00ccff;
}

.boton{
    -fx-font-family: "Comic Sans MS bold";
    -fx-fontSise: 20px; 
    -fx-text-fill: #00ccff;
    -fx-background-color: FF0001; 
}

